section {
  width: 60%;
}

section .breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: #1a202c;
  font-size: 16px;
  font-weight: 700;
}

section .hero {
  margin-top: 16px;
  margin-bottom: 80px;
}

section .hero iframe {
  display: none;
}

section .hero h2 {
  font-size: 30px;
}

section .hero .desc {
  opacity: 0.8;
  margin-top: 12px;
}

section .hero .rating-box {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

section .hero .rating-box .rating,
section .hero .rating-box .stars {
  color: #ffd700;
}

section .hero .author {
  margin-top: 12px;
}

section .hero .info {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

section .hero .info i {
  margin-right: 5px;
}

section .skills {
  padding: 24px;
  background: #1a202c;
  border: 1px solid #1e293b;
  border-radius: 7px;
}

section .skills .list {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

section .skills .list .list-item {
  width: calc(50% - 10px);
  font-size: 16px;
}

section .skills .list .list-item i {
  color: #22b458;
  margin-right: 10px;
}

section .requirements {
  margin-top: 40px;
}

section .requirements .list {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

section .requirements .list span {
  color: rgb(148 163 184);
  background: rgb(26 32 44);
  padding: 7px 10px;
  border-radius: 5px;
}

section .content {
  margin-top: 32px;
  background: linear-gradient(129deg, #2b6cb0, #2b6cb0);
  padding: 24px;
  border: 1px solid #1e293b;
  border-radius: 7px;
}

section .content .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 12px;
  border-bottom: 1px solid #1a202c;
  padding-bottom: 12px;
}

section .content .info .info-card .top {
  color: #1a202c;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

section .content .info .info-card .top i {
  font-size: 34px;
}

section .content .info .info-card .btm {
  font-size: 30px;
  font-family: 'Space Grotesk';
  font-weight: 700;
}

section .content .dropdowns {
  margin-top: 20px;
}

.dropdown {
  position: relative;
  margin-top: 12px;
}

/* Style for the dropdown button */
.dropbtn {
  background-color: #1a202c;
  color: #fff;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Space Grotesk';
  font-size: 14px;
  font-weight: 600;
}

/* Style for the dropdown content */
.dropdown-content {
  height: 0;
  max-height: 0; /* Set initial height to 0 */
  overflow: hidden;
  transition: max-height 0.4s ease-in-out; /* Add transition effect  */
  border-left: 2px solid #1a202c;
}

/* Show the dropdown content */
.show {
  margin: 8px 0;
  padding: 16px;
  height: fit-content;
  max-height: 2000px; /* Set a max height for the dropdown */
}

.dropdown-content ul {
  list-style: none;
}

.dropdown-content ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.dropdown-content ul li i {
  margin-right: 6px;
}

section .description {
  margin-top: 40px;
}

section .description p {
  margin-top: 20px;
  color: #cbd5e1;
}

section .target {
  margin-top: 40px;
}

section .target ul {
  margin-top: 12px;
  margin-left: 30px;
  color: #94a3b8;
}

section .target ul li {
  margin: 10px 0;
}
