@import url('nav.css');
@import url('aside.css');
@import url('section.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}

body {
  min-height: 300vh;
  position: relative;
  overflow-x: hidden;
  color: #f8fafc;
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4a5568;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b6cb0;
}

body::before {
  display: block;
  content: '';
  width: 100vw;
  height: 55vh;
  background: #2b6cb0;
  position: absolute;
  z-index: -1;
}
body::after {
  display: block;
  content: '';
  width: 100vw;
  height: 100%;
  background: #171923;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

main {
  padding: 20px 92px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 100%;
  flex: 1;
}
